{% extends 'layout.html' %}

{% block content %}
<h1>Create an account</h1>
<form action="/register" method="post">
  <input type="hidden", name="_csrf", value="{{csrfToken}}">
  <label for="username">Username</label>
  <input id="username" type="text" name="username", required=true>
  <br>
  <label for="email">Email</label>
  <input id="email" type="email" name="email", required=true>
  <br>
  <label for="password">Password</label>
  <input type="password" id="password" name="password", required="true">
  <br>
  <input type="submit" value="Submit">
</form>

{% endblock %}
